html {
    background-color: #edc7b7;
}

.section-content .container {
    border: 1px solid #000;
    border-radius: 1em;
    padding: 2em;
    margin: 2em;
    background-color: #eee2dc;
    text-align: justify;
}

.protocol-areas,
.protocol-lll-areas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.protocol-areas-info,
.protocol-lll-info {
    flex: 1;
    margin-right: 20px;
    padding: 1em;
}

.protocol-areas-img img,
.protocol-lll-img img {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
}

.section-content .contact-container {
    border: 1px solid #000;
    border-radius: 1em;
    padding: 2em;
    margin: 2em;
    background-color: #eee2dc;
    text-align: center;
}

.bibliography {
    text-align: left;
}

h1 {
    text-align: center;
    padding-top: 1em;
    color: #ac3b61;
    text-shadow: 1px 1px white;
}

.section-list {
    padding-left: 3em;
    padding-bottom: 1em;
}

.return-link-information a {
    border: 1px solid white;
    border-radius: 1em;
    text-decoration: none;
    padding: 0.5em;
    margin: 1em;
    color: white;
    background-color: #ac3b61;
}

.return-link-information a:hover {
    background-color: #123c69;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #d2c7be;
}