.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #123c69;
}

.main-nav ul {
    display: flex;
}

.main-nav li,
.main-nav a {
    display: block;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding: 1em;
}

.main-nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 1px black;
}

.ospf-nav li,
.ospf-nav a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: #ac3b61;
    ;
    border-radius: 1em;
    padding: 0.2em;
}

.ospf-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 1em;
}